<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page <%= 'this is ejs' .toUpperCase() %>
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugit cum, cumque non sint deserunt quasi
        laborum esse, fuga provident optio ex vitae tenetur temporibus enim. Laboriosam repellendus quam culpa omnis
        obcaecati quae veritatis eaque necessitatibus, nostrum placeat reprehenderit ullam sunt soluta eum minima sit
        quisquam. Veniam doloremque a fugiat?</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ab accusamus omnis quam corporis eaque ipsam,
        voluptas optio unde at saepe vitae officia alias harum quisquam iusto veniam vero nobis.</p>
</body>

</html>